.FORM{
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 65px;
    background-color: black;
    opacity: 87%;
    padding-top: 70px;
    padding-bottom: 250px;
    width: 450px;
    height: 600px;
    margin-bottom: 100px;
  }
  .SVG{
    background-color: black;
    opacity: 90%;
    width: 350px;
  }
  .pic{
    margin: 10px;
  }
  .mb-3{
    color: white;
  }
  .mb-2{
    color: white;
  }
  footer{
    background-color: black;
    opacity: 87%;

  }
  body{
    background-image: url("background.jpg");   
    height: 90%;
  }
  .nav{
    color: white;
  }
